.modal
    position: fixed
    top: 0
    width: 100%
    height: 0%
    visibility: hidden
    opacity: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 100
    transition: 0.5s all
    &.active
        height: 100%
        opacity: 1
        visibility: visible
    &__item
        max-height: 100vh
        position: absolute
        overflow: hidden
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: none
        background-color: #F8F9FA
        border: 2px solid rgba(0, 0, 0, 0.2)
        border-radius: 16px
        box-shadow: 23px 57px 24px rgba(0, 0, 0, 0.01), 13px 32px 21px rgba(0, 0, 0, 0.05), 6px 14px 15px rgba(0, 0, 0, 0.09), 1px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1)
        &.active
            display: flex
    &__call
        width: 611px
        padding: 98px 72px 97.6px
    &__appl, &__order
        width: 1174px
    &__left 
        padding: 69px 80px 68.9px
        width: 53.24%
    &__right
        width: 46.76%
        position: relative
    &__close
        position: absolute
        cursor: pointer
        width: 38px
        top: 30px
        right: 30px
        z-index: 10
    &__undertitle
        margin: 24px 0px 72px
    &__pos 
        opacity: 0.4
    form 
        display: flex
        flex-direction: column
        align-items: center
        input 
            width: 100%
            border: none 
            background: none 
            border-bottom: 1px solid #000000
            padding: 8px 0px
            margin-bottom: 24px
        button 
            width: 100%
            margin: 48px 0px 40px